<main class="main">
  <div>
    <span class="text-2xl font-semibold">Upload Files</span>
    <div>
      <span class="text-lg font-semibold">Price List</span>
      <app-upload-input (fileUploaded)="onFileSelected($event)" [destination]="'price'">
      </app-upload-input>
    </div>
    <div>
      <span class="text-lg font-semibold">Standard Discounts</span>
      <app-upload-input *ngIf="selectedFiles.length > 0" (fileUploaded)="onFileSelected($event)" [destination]="'standard-discount'">
      </app-upload-input>
    </div>
    <div>
      <span class="text-lg font-semibold">Special Discounts</span>
      <app-upload-input *ngIf="selectedFiles.length > 1" (fileUploaded)="onFileSelected($event)" [destination]="'special-discount'">
      </app-upload-input>
    </div>
    <div>
      <span class="text-lg font-semibold">
        Declarations
      </span>
      <app-upload-input *ngIf="selectedFiles.length > 2" (fileUploaded)="onFileSelected($event)" [destination]="'declaration'">
      </app-upload-input>
    </div>
    <div>
      <span class="text-lg font-semibold">Link between clients and special discounts</span>
      <app-upload-input *ngIf="selectedFiles.length > 3" (fileUploaded)="onFileSelected($event)" [destination]="'link'">
      </app-upload-input>
    </div>
  </div>
  <app-send-button *ngIf="selectedFiles.length > 4" [files]="selectedFiles"></app-send-button>
</main>

<router-outlet />
